name: Publish to PyPI

on:
  push:
    branches:
      - master
    paths:
      - 'dfimage.py'
      - 'pyproject.toml'
  workflow_dispatch:
    inputs:
      publish_target:
        description: 'Publish Target (pypi, dry-run)'
        required: true
        default: 'dry-run'
        type: choice
        options:
          - dry-run
          - pypi

jobs:
  build-wheel:
    runs-on: ubuntu-latest
    environment: pypi
    permissions:
      id-token: write

    steps:
      - name: Check Repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: '3.x'

      - name: Install Dependencies
        run: |
          python -m pip install -U pip
          pip install build twine

      - name: Build Package
        run: python -m build

      - name: Check Built Package
        run: twine check dist/*

      - name: Upload Python Package Dist Artifacts
        uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7.0.0
        with:
          name: python-package-dist
          path: dist

  pypi-publish:
    name: Upload Release to PyPI
    runs-on: ubuntu-latest
    needs: build-wheel
    if: github.event_name == 'push' || github.event.inputs.publish_target == 'pypi'
    environment:
      name: pypi
      url: https://pypi.org/p/dfimage
    permissions:
      id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing
    steps:
      - name: Download Python Package Dist Artifacts
        uses: actions/download-artifact@70fc10c6e5e1ce46ad2ea6f2b72d43f7d47b13c3 # v8.0.0
        with:
          name: python-package-dist
          path: dist
      - name: Publish Package Distributions to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
